<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
	<li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ '/' | absolute_url }}">Home</a></li>
	<li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ '/about' | absolute_url }}">About us</a></li>
	<li class="nav-findus {% if page.current == 'findus' %} nav-current{% endif %}" role="presentation"><a href="{{ '/findus' | absolute_url }}">Find us</a></li>
	<li class="nav-contact {% if page.current == 'contact' %} nav-current{% endif %}" role="presentation"><a href="{{ '/contact' | absolute_url }}">Contact us</a></li>
    </ul>
</div>
<span class="nav-cover"></span>
