<!DOCTYPE html>
<html>
<head>
    <!-- Document Settings -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Page Meta -->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

    <!-- Mobile Meta -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Brand icon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}assets/images/favicon.ico" >

    <!-- Styles'n'Scripts -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/screen.css' | absolute_url }}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/syntax.css' | absolute_url }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" />

    <!-- Ghost outputs important style and meta data with this tag -->
    {% include head.html %}

</head>
<body class="{% if paginator.page > 1 %}paged archive-template{% elsif page.class %}{{ page.class }}{% else %}home-template{% endif %} nav-closed">

    <!-- The blog navigation links -->
    {% include navigation.html %}

    <div class="site-wrapper">

        <!-- All the main content gets inserted here, index.hbs, post.hbs, etc -->
        {{ content }}

        <!-- The tiny footer at the very bottom -->
         <footer class="site-footer clearfix">
             <section class="copyright"><a href="https://df3ndr.io">Everyday Defender &copy; {{  site.time | date: '%Y' }}</a></section>
             <section class="poweredby">Follow us on <a href="https://linkedin.com/company/everyday-df3ndr">LinkedIn</a> , <a href="https://bsky.app/profile/df3ndr.io">Bluesky</a> or <a href="https://infosec.exchange/@df3ndr">Mastodon</a></section>
         </footer>
    </div>

    <!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Ghost outputs important scripts and data with this tag -->
    <!-- {{ghost_foot}} -->
    <!-- Add Google Analytics  -->
    {% include analytics.html %}
    <!-- Fitvids makes video embeds responsive and awesome -->
    <script type="text/javascript" src="{{ '/assets/js/jquery.fitvids.js' | absolute_url }}"></script>
    <!-- The main JavaScript file for Casper -->
    <script type="text/javascript" src="{{ '/assets/js/index.js' | absolute_url }}"></script>
    
    <!-- Prism.js syntax highlighting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>

    <script>
     Prism.plugins.autoloader.languages_path =
       'https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/';
    </script>
    <script src="{{ '/assets/js/prism/prism-kql.min.js' | absolute_url }}"></script>
</body>
</html>
